body {
    background-color: black;
    color: white;
    font-family: arial;
    margin: 0px;
}

header {
    background:purple ;
    color: yellow;
    padding: 20px;
    font-size: 16pt;
    
}


main {
    margin: 10px 20px;
}

footer {
    background: purple;
    color: yellow;
    padding: 10px;
    font-size: 10pt;
    text-align: right;
    font-style: italic;
    position:relative;
    left:0;
    bottom:0;
    right:0;
}

a {
    color: rgb(3, 193, 101);
    text-decoration: none;
    text-shadow: 1px 1px 10px green;
    transition: 600ms 1s
}

input {
    height: 2vw;
    left: 52vw;
    position: relative;
}